# Debian packaging with python-stdeb
# see https://pypi.org/project/stdeb/
[DEFAULT]
Source: slapdcheck
Package: slapdcheck
Package3: slapdcheck
Suite: stable
Suite3: stable
Maintainer: AE-DIR project <repo@ae-dir.com>
Depends: python3-ldap0 (>= 1.0.0), python3-asn1crypto, python3-psutil
Depends3: python3-ldap0 (>= 1.0.0), python3-asn1crypto, python3-psutil
Recommends: python3-prometheus-client
Recommends3: python3-prometheus-client
