[tool.poetry]
name = "rlbcore"
version = "0.3.3"
description = "Common functionality for all rlbaselines projects"
authors = ["Aditya Gudimella <aditya.gudimella@gmail.com>"]
license = "MIT"
readme = "README.md"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
rlbcore = "rlbcore.cli:app"

[tool.poetry.dependencies]
# Required dependencies
python = "^3.10"
attrs = "^22.1.0"
gymnasium = "^0.27.0"
mkdocs = "^1.4.2"
mkdocs-macros-plugin = "^0.7.0"
mkdocs-material = "^8.5.11"
mkdocstrings = { extras = ["python"], version = "^0.19.0" }
# Required to add separately, else get error
numba = "^0.56.4"
omegaconf = "^2.3.0"
pydantic = "^1.10.2"
rich = "^12.6.0"
typer = { extras = ["all"], version = "^0.7.0" }
# Optional dependencies
autoflake = { version = "^1.4", optional = true }
black = { version = "^22.3.0", optional = true }
isort = { version = "^5.10.1", optional = true }
# Required to add separately, else get error
llvmlite = { version = "^0.39.1", optional = true }
mlflow = { version = "^2.0.1", optional = true }
mypy = { version = "^0.961", optional = true }
pandas = { version = "^1.5.2", optional = true }
pytest = { version = "^7.2.0", optional = true }
pytest-vscodedebug = { version = "^0.1.0", optional = true }
pyupgrade = { version = "^2.37.3", optional = true }
shimmy = { extras = ["dm-control"], version = "0.2.0", optional = true }
# TODO: Remove after upgrading to python 3.11
toml = { version = "^0.10.2", optional = true }
wandb = { version = "^0.13.6", optional = true }
xdoctest = { extras = ["all"], version = "^1.1.0", optional = true }

[tool.poetry.extras]
wandb = ["wandb"]
mlflow = ["mlflow", "pandas"]
test = [
  "autoflake",
  "black",
  "isort",
  "llvmlite",
  "mypy",
  "pytest",
  "pytest-vscodedebug",
  "pyupgrade",
  "shimmy",
  "toml",
  "xdoctest",
]
all = [
  "autoflake",
  "black",
  "isort",
  "llvmlite",
  "mlflow",
  "mypy",
  "pandas",
  "pytest",
  "pytest-vscodedebug",
  "pyupgrade",
  "shimmy",
  "toml",
  "wandb",
  "xdoctest",
]

[tool.pytest.ini_options]
addopts = ["--strict-markers", "--xdoctest"]
markers = [
  "minutes: Test takes minutes to run",
  "hours: Test takes hours to run",
  "days: Test takes days to run",
  "modifies: Test modifies system env. Meant to be run in pipelines",
]
log_cli = true
log_cli_level = "INFO"

[tool.isort]
profile = "black"
default_section = "THIRDPARTY"
known_first_party = ["rlbcore"]
known_third_party = ["wandb"]
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
multi_line_output = 3
