/*
 * Presentational Styles
 */

 html,
 body {
   font: caption;
   /* background-color: #f1f1f1; */
   position: relative;
   height: 100%;
   /* background-color: red; */
 }
 
 .centerer {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0);
 }
 
 /* h4 {
   font-weight: 200;
   text-align: center;
   font-size: 18px;
   margin-bottom: 20px;
 }
 
 p {
   margin-top: 25px;
   font-size: 13px;
   color: #3366cc;
   text-align: center;
 }
 
 p a {
   color: inherit;
   text-decoration: none;
 }
 
 p a:hover {
   text-decoration: underline;
 } */
 
 
 /*
  * Switcher Styles
  */
 
 .switcher {
   display: inline-block;
   height: 30px;
   margin-top:0;
   padding: 4px;
   background: #F0F2F6;
   border-radius: 2px;
   width: 200px;
   border-radius: 30px;
   border: solid 1px #F0F2F6;
   position: relative;
 }
 
 .switcher__input {
   display: none;
 }
 
 .switcher__label {
   float: left;
   width: 50%;
   font-size: 14px;
   line-height: 30px;
   color: rgb(255, 255, 255);
   text-align: center;
   cursor: pointer;
   position: inherit;
   z-index: 10;
   transition: color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
   will-change: transform;
 }
 
 .switcher__toggle {
   position: absolute;
   float: left;
   height: 30px;
   width: 50%;
   font-size: 12px;
   line-height: 30px;
   cursor: pointer;
   background-color: #ffffff;
   border-radius: 30px;
   left: 5px;
   top: 4px;
   transition: left 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
   will-change: transform;
 }
 
 .switcher__input:checked + .switcher__label {
   color: #31333F;
 }
 
 .switcher__input--yang:checked ~ .switcher__toggle {
   left: 100px;
 }