[build-system]
requires = ["setuptools>=65.0.0"]
build-backend = "setuptools.build_meta"

[project]
name = "rootconfig"
authors = [
    {email = "yinhanzhi@gmail.com"},
    {name = "Hanzhi Yin"}
]
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]
dependencies = []
dynamic = ["version"]

[tool.setuptools.packages.find]
where = ["."]
exclude = ["tests"]

[project.urls]
# homepage = ""
# documentation = ""
# changelog = ""
repository = "https://github.com/int0thewind/rootconfig"

[tool.setuptools.dynamic]
version = {attr = "rootconfig.__version__"}
